
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="css/styelyfondo.css">
        <link rel="stylesheet" href="css/styleprincipal.css">
<title>Memoria - Vamos a jugar</title>
<meta HTTP-EQUIV="REFRESH" CONTENT=";URL=src/index.html">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




   </head>
  <body>
    <div class="container">
    
  {{{body}}}
    </div>
