body {
background-image: url(../../img/background-avatar.png)center center cover no-repeat fixed;
background-position: center center;
background-repeat: no-repeat;
/*background-attachment: fixed;
background-size: cover;*/
    height:100%;
    width:100%;
}
