<html>

<body>
    
     <div class="titulo-avatar" >
      <img src="/img/memoria-inicio.png" class="img-responsive">
      </div>

    <div class="col-md-12" id="button-container">
    <div class="animal-button" style="top:80px;"> 
        <a  href="/escoger"><img src="img/inicio-animales.gif"></a>
        </div>
         <div class="col-md-6">
           <button type="button" class="btn btn-primary" style="background-color:darkolivegreen; visibility: hidden;"> <a href="/admin" style="color:white; font-weight: 600;">Panel de Administración</a> </button>  </div>
    </div>

    
</body>
</html>
