<html>

<body>
    
    <div class="col-md-12" id="button-container">
    <div class="animal-button"> 
        <a  href="/escoger"><img src="img/inicio-animales.gif"></a>
        </div>
    </div>

    
</body>
</html>
