<html>

<body>
    
    <div class="col-md-12" id="button-container">
    <div class="animal-button"> 
        <a  href="/escoger"><img src="img/inicio-animales.gif"></a>
        </div>
         <div class="col-md-6">
           <button type="button" class="btn btn-primary" style="background-color:darkolivegreen"> <a href="/admin" style="color:white; font-weight: 600;">Panel de Administración</a> </button>  </div>
    </div>

    
</body>
</html>
