<script >
       
        var usuario = localStorage.getItem("usuario");
        
        if(usuario==null || usuario==undefined){
             console.log(usuario);
              window.location="/admin"
             //window.location="/user/login"
        }
</script>



<body>



<form class="form" action="/admin/imagenes/guardar" method="post">

<div class="">
    <a href="/admin/cerrar">Cerrar sesion</a>
</div>
      <div class ="form-group" id="foto">


          <input type="file" name="foto" id="imagen" >
          <input type="text" class="form-control" id="fotoadd"  name="fotoadd" style="visibility:hidden">
           <img id="imagenadd" src="#"  alt="your image" width="100" height="100"/>

    </div>
  <div class="form-group">
    <img src="" alt="" id="img_foto" width="100" height="100">
  </div>


  <div class="form-group">
    <label for="title">Puntaje:</label>
    <input type="number" class="form-control" id="nombre" placeholder="Puntos" name="puntos"><!--req.body.name-->
  </div>




  <div class="form-group">
    <img src="" alt="" id="img_foto" width="100" height="100">
  </div>
    <button type="submit"  id="guardarUser" class="btn btn-primary">Crear</button>


</form>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/newusuario.js"></script>
</body>
