<h2>Usuario creado -  <a href="/escoger">Usuario</a></h2>


<h1>{{usuarios.id}}</h1> 
<img src="{{usuarios.foto}}" class="rounded-circle personalImg">


<a href="/avatar/{{avatar.id_avatar}}/edit" type="button" class="btn btn-default btn-warning" >
  Editar avatar
</a>
<a href ="/admin"><button type="submit" class="btn btn-default success" >Menú</button></a>
