
<body>
  <script type="text/javascript" src="/js/sesiones.js">

  </script>


 <script src="/Js/jquery-3.3.1.min.js"> </script>
<!-- NOTA: utilice helper para simplificar el código de esta sección
agregar method-override
-->

<form class="form" action="/admin/credenciales/{{credencial.id}}?_method=PUT" method="post">

<div class="">
   <a href="/admin/cerrar">Cerrar sesion</a>
</div>
  <div class="form-group">
    <img src="" alt="" id="img_foto" width="100" height="100">
  </div>

     <div class="form-group">
    <label for="title">User:</label>
    <input type="text" class="form-control" id="clave" placeholder="Username" name="user" value="{{credencial.user}}" >
  </div>

  <div class="form-group">
    <label for="title">Password:</label>
    <input type="password" class="form-control" id="nombre" placeholder="Password" name="password" value="{{credencial.password}}" ><!--req.body.name-->
  </div>
  <div class="form-group">
    <label for="title">Rol:</label>
    <input type="text" id="inrol" name="" value="{{credencial.rol}}" style="visibility:hidden">

 <select class="" id="rol" name="rol">

   <option id="adm" value="admin">admin</option>
   <option  id="jug" value="jugador">jugador</option>



 </select>
    </div>










  <div class="form-group">
    <img src="" alt="" id="img_foto" width="100" height="100">
  </div>
        <a><button type="submit" class="btn btn-default btn-primary">Actualizar</button></a>


</form>


<div class="row pt-md-2"></div>
<a href="/admin/credenciales/"> <button class="btn btn-default btn-warning" style="color:white;">Atrás</button></a>
<br><br><br>
    <div class="row pt-md-5"></div>

<script type="text/javascript">
  var select= document.getElementById("inrol");
  if (select.value=="admin") {
 let ad=document.getElementById('adm');
 ad.selected="true";
}else {
  let ad=document.getElementById('jug');
  ad.selected="true";
}
</script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
