<body>
  <script type="text/javascript" src="/js/sesiones.js">

  </script>

  <h1>Error, No se puede crear una credencial mientras no haya usuarios</h1>
  <a href="/admin/credenciales">Ver credenciales</a>

</body>
