<script >
       
        var usuario = localStorage.getItem("usuario");
        
        if(usuario==null || usuario==undefined){
             console.log(usuario);
              window.location="/admin"
             //window.location="/user/login"
        }
</script>


<h2>Usuario creado -  <a href="/escoger">Ir al juego</a></h2>
<div class="">
  <a href="/admin/cerrar">Cerrar sesion</a>
</div>

<h1>{{usuarios.id}}</h1>
<img src="{{usuarios.foto}}" class="rounded-circle personalImg">


<a href="/admin/usuarios/{{usuarios.id}}/edit" type="button" class="btn btn-default btn-warning" >
  Editar Usuario
</a>
<a href="/admin/usuarios" type="button" class="btn btn-default btn-warning" >
  Ver Usuarios
</a>
<a href ="/admin/vertablas"><button type="submit" class="btn btn-default success" >Menú</button></a>
