@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");

img {
  width: 100px;
  height: 90px;
}

.mi-tablas{
text-align:center;
margin-left: 35%;
border: inset 0pt;
margin: 0 auto


}

.mi-tablas td{
 width: 30%;

border: inset 0pt;

}
.micelda img{
  height:130px;
 width: 120px;
border-radius: 20px;


}
.personal {
  height: 200px;
  width: 200px;
         margin-top: 80px;
}
  .letrero{
    margin-left: 400px;

  }
#audio{
display: none;
}
#audioultra{
display: none;
}
#audioclick{
display: none;
}

/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:7000;
  height:220px;
/*background-image: url("../../img/globos.jpg");*/
  display:none;
}

#boxes .window {
  position:fixed;
  width:440px;
  height:220px;
  display:none;
  z-index:9999;
  padding:20px;

}

.eleModel {
  /* IMPORTANTE */
   display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;

}

#dialog span {
  margin: 60px;
  color: #C11A33;
}
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px;
  height:220px;
  background: #23C480;

}

.nuevo{
  display: none;
}


.editar{
  display: none;
}



#nivel h1{
    font-family:"Mystery Quest", cursive;

  font-size: 300%;
    color: #53bdb5;
    display: inline-block;

}

#nivel {

background-color: #b2dedabd;
    width: 200px;
    height: 240px;
}

#tiempo{
    margin-left: 420px;
}
