img {


  display:block;
margin:auto;

}




#nivel{
      display:block;
margin:auto;
    width:400px;
    height:300px;

}

#regresar{
    float: left
}

body { 
background-image: url(../../img/fondojuego.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}