body { 
background-image: url(../../img/fondoIntro.png);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

#emepezarjuego{
    margin-top: 550px;
}